nav.navbar {
    background: whitesmoke;
    height: 120px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
  }
  /* .logo {
    height: 90px;
    padding: .2rem
  } */

.brand-title {
  margin-top: 50px;
  font-family: 'Charm', cursive;

}
  
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
  }
  
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
  }
  
  .navbar-toggler-icon {

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-size: 100% 100%;
  }
  
  ul.links-list {
    display: flex;
    flex-direction: row;
  }
  
  li.nav-item {
    list-style-type: none;
    margin-left: 40px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a.is-active {
    color: maroon;
  }
  
  .container {
   width: 80%;
   margin: 0 auto;
  }
  
  @media only screen and (min-width: 992px) {
    .navbar-toggler {
      display: none;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .navbar-toggler {
      display: block;
    }
  
    div.navbar-links {
      margin-right: 0;
      position: absolute;
      width: 75%;
      background: whitesmoke;
      z-index: 99;
      margin-top: 3rem;
      float: right;
      right: 0;
      height: 100vh;
      transition: all ease-in-out 0.3s;
      align-self: flex-start;
      border-top: 2px solid #06c3bd;
    }
  
    ul.links-list {
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }
  
    .navbar-links.menu-collapse {
      margin-right: -75%;
      width: 0;
      overflow: hidden;
    }
  
    li.nav-item {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 0;
    }
  
    li.nav-item a.nav-link {
        padding: 10px 20px;
    }
  
    .menu-collapse {
      margin-right: -75%;
      width: 0;
      overflow: hidden;
    }
  }